
html,body{
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    background-color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    
   
}

.navbar .container-fluid .navbar-brand{
    color: #eb9a6e;
    letter-spacing: 5px;
    font-weight: bold;
}




.collapse .navbar-nav .nav-item .nav-link{
    color: whitesmoke;
}




.logobox{
    background-color: #a9ebd2;
    top: 55px;
    margin: auto;

    
}

.logoimage{
    height: 6rem;
    width: 6rem;
    margin: auto;
}



.container{
    margin-top: 95px;
    margin: auto;
}


#aboutus{
    margin-top: 3rem;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 7rem;

}

/* .carousel-inner .bannertopfix .carousel-item img{
    margin-top: 95px;
} */

/* .carousel-inner .carousel-item .carousel-caption{
    bottom: 6rem;
    color: white;
    font-weight: 7rem;
} */

.productlist{
    padding-bottom: 3rem;
    margin: auto;
    width: 100%;
}

.productlist .maskboximg{
    margin: auto;
}


.productlist .maskboximg img{
    height: 450px;
    width: 400px;
    box-shadow: 12px 8px 8px rgb(226, 226, 226);
    border-radius: 4px;
}

@media(max-width:576px) {
    .productlist .maskboximg img {
        height: auto;
    }
}



.maskdesc h2{
      padding-top: 2rem;

}
.maskdesc p{
    text-align: left;
    width: 100%;
}


.pricebutton{
    font-size: 2rem;
    font-family: "Great Vibes", sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    border:none;
    background-color: #a9ebd2;
    border-radius: 2px;
    padding: 2px 60px 2px 60px ;
}



.pricebutton:hover{
    background-color: #f89f93;
    transition: background 1.5s;
    padding: 2px 60px 2px 60px;
    cursor: pointer;
    color: white;
    border-radius: 2px;

}

.pricebutton a {
    color: black;
    
}

.pricebutton a:hover {
    color: white;
    text-decoration: none;
}





.reviewheadline{
    font-family: 'Lato', sans-serif;
    color: rgb(105, 104, 104);
    margin-top: 5rem;
    border-bottom: 1px solid #a9ebd2;
    width: 60%;
    margin: auto;
}




/* ------------- review carousel----------  */
#demo {
    background: linear-gradient(112deg, #ffffff 50%, #f89f93 50%);
    max-width: 800px;
    margin: auto;
    margin-bottom: 3.5rem;
}

.carousel-caption {
    position: initial;
    z-index: 10;
    padding: 5rem 8rem;
    color:grey;
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    line-height: 2rem;

}

@media(max-width:767px) {
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem;
    }
}

.carousel-caption img {
    width: 6rem;
    border-radius: 5rem;
    margin-top: 2rem;
}

@media(max-width:767px) {
    .carousel-caption img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem;
    }
}

#image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem;
    color: black;
    font-weight: 600;
}

@media(max-width:767px) {
    #image-caption {
        font-style: normal;
        font-size: 0.6rem;
        margin-top: 0.5rem;
    }
}

i {
    background-color: rgb(223, 56, 89);
    padding: 1.4rem;
}

@media(max-width:767px) {
    i {
        padding: 10.8rem;
    }
}

.carousel-control-prev {
    justify-content: flex-start;
}

.carousel-control-next {
    justify-content: flex-end;
}

.carousel-control-prev,
.carousel-control-next {
    transition: none;
    color: #a9ebd2;
}

@media(max-width:576px) {
    .contact{
        background-size: 400px 300px;
        background-repeat: no-repeat center;
        background-position-y: unset;

    }


}



.slideSection {
    color: white;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.25) 100%, rgba(0, 0, 0, 0.25) 100%, rgba(0, 0, 0, 0.25) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.25) 100%, rgba(0, 0, 0, 0.25) 100%, rgba(0, 0, 0, 0.25) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 100%, rgba(0, 0, 0, 0.25) 100%, rgba(0, 0, 0, 0.25) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000', GradientType=0);
    /* IE6-9 */
    padding-top: 48px;
    padding-bottom: 375px;
    margin: auto;
    width: 80%;
}

.slideSection h2,p{
    padding-top: 2rem;
    width: 90%;
    margin: auto;
    text-align: center ;
}

.slideSection a,i{
    padding-right: 20px;
}


.contact {
    background-image: url(./resources/naturalskincare.jpg);
    background-attachment: fixed;
    margin-top: 2rem;
    margin: auto;
    background-repeat: no-repeat;
    background-position-x: center;
    

}

.contact h2{
    font-family: "Roboto", sans-serif;
    
}
.contact p{
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    padding-bottom: 2rem;
    
}

.contact span a i{
    color: whitesmoke;
}

.slideSection span{
    font-weight: bold;
}



.footer{
    background-color: #a9ebd2;
    color: black;
    height: auto;
    width: 100%;
}
  
.footer span{
    padding: 15px;
   
}
  


  


/* ----queries----  */


/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 757px) {
    #aboutus h1{
        font-size: 2rem;
        padding-bottom: 10px;
    }
    
    
    
    .slideSection{
        width: 100%;
        padding-bottom: 150px;
    }

    .slideSection h2, p{
        padding-top: 2rem;
        width: 80%;
    }

    .contact{
        background-repeat: repeat;
    }

    .footer{
        height: auto;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 576px) {
   
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { ... }
